main{
    width: 500px;
    height: 350px;
}
h1{
    width: 420px;
    margin: 20px auto 0px auto;
}
.result_box{
    width: 420px;
    height: 80px;
    font-size: 24px;
    margin: 50px auto 0px auto;
    border-bottom: 2px solid #156082;
}
.a_box{
    text-align: center;
    margin-top: 20px;
}
a{  
    margin-top: 10px;
    font-size: 24px;
}