header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin: 0px 0px 0px 20px;
}
.menu{
    display: flex;
    margin-right: 20px;
    color: black;
    font-size: 18px;
    justify-content: space-between;
    width: 250px;
}
h2{
    width: 420px;
    margin: 20px auto 0px auto;
    font-size: 40px;
}
a{  
    font-size: 18px;
    text-decoration: none;
    color: black;
}
#main_page_a{
    font-size: 24px;
    color: #aeaeae;
}