body{
    background-color: #e8e8e8;
    padding: 0px;
    margin: 0px;
}
main{
    background-color: white;
    margin: 100px auto 0px auto;
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 10%;
    box-sizing: border-box;
    padding-top: 25px;
}
.id_box{
    width: 420px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    
}
input{
    margin-top: 5px;
    box-sizing: border-box;
    width: 420px;
    height: 60px;
    font-size: 24px;
}
#id_imput{
    width: 330px;
}
input::placeholder {
    font-size: 24px;
    color: #aeaeae;
}
input[type=submit]{
    margin-top: 20px;
    background-color: #4ea72e;
    color: white;
    width: 200px;
    font-size: 24px;
    height: 60px;
}
#eye_button{
    position: relative;
    right: 60px;
    top: 10px;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-size: cover;
    background-color: white;
    border: none;
    background-image: url("../image/눈.png");
}
#not_eye_button{
    position: relative;
    right: 60px;
    top: 10px;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-size: cover;
    background-color: white;
    border: none;
    background-image: url("../image/눈 제거.png");
}
#pw_box{
    display: flex;
    width: 500px;
    justify-content: left;
    margin-left: 40px;
}
#shown_pw_box{
    display: none;
    width: 500px;
    justify-content: left;
    margin-left: 40px;
}
button{
    margin-top: 5px;
    width: 80px;
    height: 60px;
    font-size: 22px;
    color: white;
    box-sizing: border-box;
    background-color: #156082;
    padding-top: 0px;
}
.constraint{
    display: inline-block;
    text-align: left;
    width: 420px;
    font-size: 12px;
    color: #aeaeae;
}
#unsignup_button{
    margin-top: 20px;
    background-color: #156082;
    color: white;
    width: 200px;
    font-size: 24px;
    height: 60px;
}